@model IEnumerable<EventAllViewModel>
@{
    ViewBag.Title = "All Events in the website";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        <partial name="_EventPartial" model="@e" />
    }
</div>
