@model IEnumerable<UserServiceModel>
@{ 
    ViewBag.Title = "All Organizers";
} 
<h2 class="text-center">@ViewBag.Title</h2>
<hr /> 
<table class="table table-striped">
    <thead> 
        <tr> 
            <th>
                <label>Email</label>
            </th>
            <th>
                <label>Phone Number</label>
            </th>
            <th>
                <label>User is Organizer</label>
            </th>
        </tr>
    </thead>
            <tbody>
                @foreach (var user in Model) 
                { 
                    <tr> 
                        <td>
                            <label>@user.Email</label>
                        </td>
                        <td>
                            <label>@user.PhoneNumber</label>
                        </td>
                        <td> @if (user.IsOrganizer == true)
                        {
                            <label>✔</label>
                        }
                        else
                        {
                            <label class="text-center">❌</label>
                        } </td>
                        </tr>
                }
            </tbody>
</table>